# For loop

In [6]:
a = [1,10,11,12,14]
b = []

for i in a:
    b.append(i+1)
b

[2, 11, 12, 13, 15]

In [7]:
#sum of the numbers of the list
l = [1,9,23,12]
b = 0
for i in l:
    b = b + i
b

45

In [8]:
#multiply the numbers in the list
l = [1,9,23,12]
b = 1
for i in l:
    b = b * i
b

2484

# if - else condition

In [10]:
a = 10
if a == 10:
    print("yes")
else:
    print("no")

yes

In [11]:
a = 12
if a > 10:
    print("a is greater than 10")
elif a > 7:
    print("a is greater than 7")
else:
    print("a is smaller than 8")

a is greater than 10

In [25]:
l = [10,11,13,15,12,19,21,89, 67.3,90.1]

l1 = []
l2 = []
l3 = []
for i in l:
    if i%2 == 0:
        l1.append(i)
    elif i%2 == 1:
        l2.append(i)
    elif i == float(i):
        l3.append(i)
print(l1,l2,l3)

[10, 12] [11, 13, 15, 19, 21, 89] [67.3, 90.1]

In [29]:
number = 25
b = [] 
for i in range(1, 1+number):
     if number%i ==0:
             b.append(i)
b

[1, 5, 25]

In [30]:
number = 12345
b = []
for i in range(1,number+1):
    if number%i == 0:
        b.append(i)
b

[1, 3, 5, 15, 823, 2469, 4115, 12345]

In [76]:
#common divisors
num1 = int(input("Give a number1"))
num2 = int(input("Give a number2"))
factors1=[]
factors2=[]
for i in range(1,num1+1):
    if num1%i == 0:
        factors1.append(i)
for i in range (1,num2+1):
    if num2%i == 0:
        factors2.append(i)
fac = set(factors1) & set(factors2)
fac

Give a number12342
Give a number2244

{1, 2}

# Functions

In [79]:
def get_factors(number):
    l=[]
    for i in range(1,number+1):
        if number%i == 0:
            l.append(i)
    print(l)

In [80]:
get_factors(45678)

[1, 2, 3, 6, 23, 46, 69, 138, 331, 662, 993, 1986, 7613, 15226, 22839, 45678]

In [90]:
def prime(number):
    l=[]
    for i in range(1,number+1):
        if number%i == 0:
            l.append(i)
    if len(l) == 2:
        print("It is a prime number")
    else:
        print("It is not a prime number")

In [91]:
prime(23)

It is a prime number

In [92]:
prime(27)

It is not a prime number

In [3]:

def gcd(num1,num2):
    factors1=[]
    factors2=[]
    for i in range(1,num1+1):
        if num1%i == 0:
            factors1.append(i)
    for i in range (1,num2+1):
        if num2%i == 0:
            factors2.append(i)
        
    fac = set(factors1) & set(factors2)
    return max(fac)

In [4]:
gcd(24,6)

6

In [8]:
def mul(a=1,b=3):
    return a*b

In [9]:
mul()

3

# List Comprehension

In [10]:
# alternate for for loop

In [12]:
#for loop
l = [1,3,4,5,5]
l2 = []
for i in l:
    l2.append(i+1)
l2

[2, 4, 5, 6, 6]

In [13]:
#list comprehension

In [17]:
l2 = [i+1 for i in l]
l2

[2, 4, 5, 6, 6]

In [3]:
number = 120
factors = [i for i in range(1,number+1) if number%i == 0]
factors

[1, 2, 3, 4, 5, 6, 8, 10, 12, 15, 20, 24, 30, 40, 60, 120]

In [12]:
#To find the prime numbers
[x for x in range(2, 20)
     if all(x % y != 0 for y in range(2, x))]

[2, 3, 5, 7, 11, 13, 17, 19]

In [14]:
#find all the numbers that are divisible by 8 in the rang 1-1000
numbers = [i for i in range (1,1001) if i%8 == 0]
numbers

[8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 80,
 88,
 96,
 104,
 112,
 120,
 128,
 136,
 144,
 152,
 160,
 168,
 176,
 184,
 192,
 200,
 208,
 216,
 224,
 232,
 240,
 248,
 256,
 264,
 272,
 280,
 288,
 296,
 304,
 312,
 320,
 328,
 336,
 344,
 352,
 360,
 368,
 376,
 384,
 392,
 400,
 408,
 416,
 424,
 432,
 440,
 448,
 456,
 464,
 472,
 480,
 488,
 496,
 504,
 512,
 520,
 528,
 536,
 544,
 552,
 560,
 568,
 576,
 584,
 592,
 600,
 608,
 616,
 624,
 632,
 640,
 648,
 656,
 664,
 672,
 680,
 688,
 696,
 704,
 712,
 720,
 728,
 736,
 744,
 752,
 760,
 768,
 776,
 784,
 792,
 800,
 808,
 816,
 824,
 832,
 840,
 848,
 856,
 864,
 872,
 880,
 888,
 896,
 904,
 912,
 920,
 928,
 936,
 944,
 952,
 960,
 968,
 976,
 984,
 992,
 1000]

In [18]:
#Find all of the numbers from 1–1000 that have a 6 in them
number_6 = [i for i in range(1,1001) if "6" in str(i)]
number_6

[6,
 16,
 26,
 36,
 46,
 56,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 76,
 86,
 96,
 106,
 116,
 126,
 136,
 146,
 156,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 176,
 186,
 196,
 206,
 216,
 226,
 236,
 246,
 256,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 276,
 286,
 296,
 306,
 316,
 326,
 336,
 346,
 356,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 376,
 386,
 396,
 406,
 416,
 426,
 436,
 446,
 456,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 476,
 486,
 496,
 506,
 516,
 526,
 536,
 546,
 556,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 576,
 586,
 596,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 706,
 716,
 726,
 736,
 746,
 756,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 776,
 786,
 796,
 806,
 816,
 826,
 836,
 846,
 856,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 876,
 886,
 896,
 906,
 916,
 926,
 936,
 946,
 956,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 976,
 986,
 996]

In [25]:
#Count the number of spaces in a string
string = "Practice Problems to Drill List Comprehension in Your Head."
count_space = len([i for i in string if i == " "])
count_space

8

In [33]:
#Remove all of the vowels in a string
string = "Practice Problems to Drill List Comprehension in Your Head."
remove_vowels = "".join([i for i in string if i not in ["a","e","i","o","u"]])
remove_vowels

'Prctc Prblms t Drll Lst Cmprhnsn n Yr Hd.'

In [45]:
string = "Practice Problems to Drill List Comprehension in Your Head."
word = string.split(" ")
char_less_than_5 = [i for i in word if len(i) < 5]
char_less_than_5

['to', 'List', 'in', 'Your']

# Lambda

In [1]:
#alternative for existing function

In [2]:
def fun(x):
    return x**2

In [3]:
fun = lambda x : x**2

In [11]:
fun(5)

25

In [5]:
even_or_odd = lambda x : x%2 == 0

In [6]:
even_or_odd(46)

True

In [9]:
multiplication = lambda x,y: x*y

In [10]:
multiplication(2,3)

6

In [16]:
get_factors = lambda x: [i for i in range (1,x+1) if x%i==0]

In [17]:
get_factors(64)

[1, 2, 4, 8, 16, 32, 64]

In [29]:
get_common_factors = lambda x,y : [i for i in range(1,min(x,y)+1) if x%i == 0 and y%i == 0]

In [30]:
get_common_factors(38,54)

[1, 2]

In [41]:
greatest_common_divisor = lambda x,y : max([i for i in range(1,min(x,y)+1) if x%i == 0 and y%i == 0])

In [42]:
greatest_common_divisor(26,39)

13

In [47]:
prime_number = lambda x: len([i for i in range(1,x+1) if x%i==0])==2

In [48]:
prime_number(13)

True

# Exception Handling

In [62]:
def fun(x,y):
    return x/y

In [60]:
fun(20,10)

2.0

In [53]:
#Zero Division Error
fun(20,0)

ZeroDivisionError: division by zero

In [54]:
x1 = 10
x2 = 20
x3 = 20/0
x4 = 23
#x1, x2 is stored in jmemory but from x3 it is not stored

ZeroDivisionError: division by zero

In [57]:
x1 = 10
x2 = 20
try:
    x3 = 20/0
except:
    x3 = 0
x4 = 50

In [58]:
x3

0

In [86]:
def fun(x,y):
    try:
        x = x/y
    except:
        return "We found an error"

In [87]:
fun(23,0)

'We found an error'

# Recursion

In [95]:
def fun(x):
    if x==0:
        return 1
    else:
        return fun(x-1)

In [97]:
fun(5)

1

In [98]:
#fun(5)-->fun(4)-->fun(3)-->fun(2)-->fun(1)--.fun(0)-->1

In [99]:
def fun(x):
    if x==0:
        return 1
    else:
        return fun(x-1)+1

In [100]:
fun(5)

6

In [101]:
#fun(5)-->fun(4)+1-->fun(3)+2-->fun(2)+3-->fun(1)+4-->fun(0)+5-->1+5=6

In [ ]:
def fun(x):
    if x==1:
        return 1
    else:
        return fun(x-1)*x

In [ ]:
fun(5)

In [ ]:
def fun(x):
    if x==1:
        return 1
    else:
        return fun(x-1)*x

In [ ]:
#Fibonacci Series

In [111]:
0,1,1,2,3,5

(0, 1, 1, 2, 3, 5)

# Iterator object

In [114]:
l = [i for i in range(1,10)]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [128]:
l = (i for i in range(1,10))

In [126]:
next(l)

8

In [129]:
list(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [130]:
#map function also produces iterator func

In [131]:
def fun(x):
    return x**2

In [137]:
output=map(fun,(1,10,23))

In [135]:
next(output)

529

In [138]:
list(output)

[1, 100, 529]

In [139]:
#list to iteratable object
l = [1,10,45]
l = iter(l)

In [140]:
next(l)

1

# Local and global variable

In [ ]:
#Local variable: A variable inside a function which does not old goosd outside the function
#Global variable

In [141]:
#Local variable
def fun(x):
    s=10
    return x+s

In [142]:
fun(5)

15

In [143]:
s #s is a local variable

NameError: name 's' is not defined

In [146]:
#Local variable outside a function
s= 10
def my_fun(x):
    return x+s
s

10

In [159]:
s = 1
def func(x):
    global s 
    s = 10
    return x+s

In [160]:
func(4)

14

In [161]:
s

10

# Questions

In [162]:
l = [1,2,3]
l.append([1,2,3])
l

[1, 2, 3, [1, 2, 3]]

In [164]:
#self append
l.append(l)
l

[1, 2, 3, [1, 2, 3], [...]]

In [165]:
#Difference: a.append(b)
#a.append(a)
#a = [1,2,3,[1,2,3,[1,2,3,a]]].....

In [166]:
#Dictionary
a = {
    "key1":10,
    "key2":20
}

In [167]:
a["key3"]=a

In [168]:
a

{'key1': 10, 'key2': 20, 'key3': {...}}

In [169]:
#Fibonacci series

In [170]:
0,1,1,2,3,5,8

(0, 1, 1, 2, 3, 5, 8)

In [171]:
def fibonacci(n):
    if n == 1:
        return 0
    if n == 2:
        return 1
    else:
        return fibonacci(n-1)+fibonacci(n-2)

In [172]:
fibonacci(8)

13

In [175]:
#TO KNOW FIBONACCI PRESENT in the range 1 to 10,till number 9
output = map(fibonacci,range(1,10))

In [174]:
list(output)

[0, 1, 1, 2, 3, 5, 8, 13, 21]